.red-text {
    color: red;
}

.form {
    color : yellowgreen ;
    background-color:whitesmoke;
}

.content {
    color: brown;
    background-color: rgb(211, 211, 211);
    width: 1200px ;
    font-size: x-large ;
    font-style: italic;
}

.image {
    height: 560px ;
    width: 1200px;
}
 